<ul id="nav">
	<li><%= link_to "Admin Home", admin_root_path, :id => 'btnAdminHome', :class => 'image', :style => nav_style(admin_root_path) %></li>
	<li><%= link_to "Stories", admin_stories_path, :id => 'btnStories', :class => 'image', :style => nav_style(admin_stories_path) %></li>
	<li><%= link_to "Users", admin_users_path, :id => 'btnUsers', :class => 'image', :style => nav_style(admin_users_path) %></li>
	<li><%= link_to "Statistics", admin_stats_path, :id => 'btnStatistics', :class => 'image', :style => nav_style(admin_stats_path) %></li>
	<li><%= link_to "Banners", admin_uploads_path, :id => 'btnBanners', :class => 'image', :style => nav_style(admin_uploads_path) %></li>
</ul>