<%= render :partial => 'users/account_header' %>
	
<h1>Edit My Settings</h1>

<% form_for(@user) do |f| %>
<%= f.error_messages %>
<ul>
	<li>
		<%= f.check_box :buzz_me, :style => 'width:40px;' %> Buzz me - uncheck if you would not like to be buzzed.
	</li>
	<li>
	  <%= f.check_box :buzz_me_mail, :style => 'width:40px;'  %> Buzz me by mail - uncheck if you would not like to receive buzz through your email.
	</li>
  <li class="buttons">
	  <%= f.hidden_field :referring_url, :value => current_path, :class => "hidden" %>
  	<%= submit_tag "save" %><br/>
  </li>
</ul>
<%end %>

