<h1>Privacy Policy</h1>

<p>This policy is effective as of June 11, 2009.</p>

<h2>Onestoryroad Principles</h2>

<p>We built Onestoryroad to make it easy to share information with your friends and people around you. We understand you may not want everyone in the world to have the information you share on Onestoryroad; that is why we give you control of your information. Our default privacy settings limit the information displayed in your story profile to anonymous or non-anonymous and other reasonable community limitations that we tell you about.</p>

<h2>Onestoryroad follows two core principles:</h2>

<ol>
  <li>
    <h3>You should have control over your personal information.</h3>
    Onestoryroad helps you share stories and experience with people around. You choose what information you put in your profile, including contact and personal information.  You choose whether to post anonymously or non-anonymously.
  </li>
  <li>
    <h3>You should have access to the stories others want to share.</h3>
    There is an endless amount of stories available out there, and you may want to know what relates to you, your friends, and people around you. We want to help you easily get that story.
  </li>
</ol>

<p>Sharing stories should be easy. And we want to provide you with the tools necessary to share that story. If you have questions or ideas, please send them to privacy@onestoryroad.com.</p>

<h2>Onestoryroad Safety</h2>

<p>Onestoryroad aspires to be an environment where people can interact safely with their friends and the people around them. We have implemented many safety and privacy controls on Onestoryroad as part of our goal to enable people to share their information with only the people they want to see it. And we are constantly improving our systems for identifying and removing inappropriate content and people from the site.</p>
</br>
<p>Children under 13 years old are not permitted access to Onestoryroad. In addition, parents of children 13 years and older should consider whether their child should be supervised during the child's use of the Onestoryroad site.</p>
</br>
<p>Despite Onestoryroad's safety and privacy controls, Onestoryroad cannot guarantee that its site is entirely free of illegal, offensive, pornographic or otherwise inappropriate material, or that its members will not encounter inappropriate or illegal conduct from other members. Consequently, you may encounter such content and conduct. You can help Onestoryroad by notifying us of any nudity or pornography, or harassment or unwelcome contact by clicking on the "Contact" link located on pages throughout the site. Where confidential complaints are made through this site reporting tool, Onestoryroad will use best efforts to remove the offending content or conduct and to warn or, as appropriate, to bar from the site those transmitting such content or engaging in such conduct within 24 hours of receiving your complaint. Where complaints about nudity or pornography, or harassment or unwelcome contact are made by independent email to abuse@onestoryroad.com, Onestoryroad will acknowledge receipt of your complaint and begin addressing your complaint within 24 hours of receipt. Onestoryroad will report back to you within 72 hours of receiving your email complaint to inform you of the steps Onestoryroad has taken to address the complaint.</p>
</br>
<p>Click here to contact the Independent Safety and Security Examiner (ISSE) regarding Onestoryroad's complaint handling procedures. Please note that if you have not previously made a complaint to Onestoryroad you should not use this link. Onestoryroad is solely responsible for complaint handling, and you should address all complaints or reports of abuse directly to Onestoryroad using the procedures described on this page.</p>
</br>
<p>We need all users to report suspicious people and inappropriate content they encounter on Onestoryroad. And we strongly encourage users under the age of 18 to talk to their parents or a responsible adult immediately if someone online says or does something to make them feel uncomfortable or threatened in any way.</p>
</br>
<p>Remember that although using fake names is a violation of the Onestoryroad Terms of Use, people are not always who they say they are. You should always be careful when sending friend requests to, or accepting friend requests from people you do not know in the real world. And it is always risky to meet anyone in person whom you don't know through real world friends.</p>
</br>
<p>Always follow these important safety tips when using Onestoryroad:</p>
<ul>
  <li>Never share your password with anyone</li>
  <li>Adjust your privacy settings to match your level of comfort, and review them often</li>
  <li>Be cautious about posting and sharing personal information, especially information that could be used to identify you or locate you offline, such as your address or telephone number</li>
  <li>Report users and content that violate our Terms of Use</li>
  <li>Block and report anyone that sends you unwanted or inappropriate communications</li>
</ul>

<h2>Onestoryroad's Privacy Policy</h2>

<p>Onestoryroad's Privacy Policy is designed to help you understand how we collect and use the personal information you decide to share, and help you make informed decisions when using Onestoryroad, located at www.onestoryroad.com and its directly associated domains (collectively, "Onestoryroad" or "Website")</p>
</br>
<p>By using or accessing Onestoryroad, you are accepting the practices described in this Privacy Policy.</p>
</br>
<p>If you have questions or concerns regarding this statement, you should first contact our privacy staff at privacy@onestoryroad.com . </p>

<h2>The Information We Collect</h2>

<p>When you visit Onestoryroad you provide us with two types of information: personal information you knowingly choose to disclose that is collected by us and Web Site use information collected by us as you interact with our Web Site.</p>
</br>
<p>When you register with Onestoryroad, you provide us with certain personal information, such as your name, your email address, your location, your gender, and any other personal or preference information that you provide to us.</p>
</br>
<p>When you enter Onestoryroad, we collect your browser type and IP address. This information is gathered for all Onestoryroad visitors. In addition, we store certain information from your browser using "cookies." A cookie is a piece of data stored on the user's computer tied to information about the user. We use session ID cookies to confirm that users are logged in. These cookies terminate once the user closes the browser. By default, we use a persistent cookie that stores your login ID (but not your password) to make it easier for you to login when you come back to Onestoryroad. You can remove or block this cookie using the settings in your browser if you want to disable this convenience feature.</p>
</br>
<p>When you use Onestoryroad, you may set up your personal profile, perform searches and queries, and transmit information through various channels. We collect this information so that we can provide you the service and offer personalized features. In most cases, we retain it so that, for instance, you can return to view prior messages you have sent or easily see your friend list. When you update information, we usually keep a backup copy of the prior version for a reasonable period of time to enable reversion to the prior version of that information.</p>
</br>
<p>You post User Content (as defined in the Onestoryroad Terms of Use) on the Site at your own risk. Although we allow you to set privacy options that limit access to your pages, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other Users with whom you may choose to share your pages and information. Therefore, we cannot and do not guarantee that User Content you post on the Site will not be viewed by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on the Site. You understand and acknowledge that, even after removal, copies of User Content may remain viewable in cached and archived pages or if other Users have copied or stored your User Content.</p>
</br>
<p>Any improper collection or misuse of information provided on Onestoryroad is a violation of the Onestoryroad Terms of Service and should be reported to privacy@onestoryroad.com .</p>
</br>
<p>If you choose to use our email a friend service to tell a friend about our site, we will ask you for information needed to send the invitation, such as your friend's email address. We will send your friend an email or instant message in your name inviting him or her to visit the site, and may send up to two reminders to them. Onestoryroad stores this information to send invitations and reminders, to register a friend connection if your invitation is accepted, to allow you to see invitations you have sent, and to track the success of our referral program. Your friend may contact us at onestoryroad.com to request that we remove this information from our database.</p>
</br>
<p>Onestoryroad may also collect information about you from other sources, such as newspapers, blogs, instant messaging services, and other users of the Onestoryroad service through the operation of the service (e.g., photo tags) in order to provide you with more useful information and a more personalized experience.</p>
</br>
<p>By using Onestoryroad, you are consenting to have your personal data transferred to and processed in the United States.</p>
</br>
<h2>Children Under Age 13</h2>

<p>Onestoryroad does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register. If you are under 13, please do not attempt to register for Onestoryroad or send any information about yourself to us, including your name, address, telephone number, or email address. No one under age 13 may provide any personal information to or on Onestoryroad. In the event that we learn that we have collected personal information from a child under age 13 without verification of parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 13, please contact us at privacy@onestoryroad.com .</p>

<h2>Children Between the Ages of 13 and 18</h2>

<p>We recommend that minors over the age of 13 ask their parents for permission before sending any information about themselves to anyone over the Internet.</p>

<h2>Use of Information Obtained by Onestoryroad</h2>

<p>When you register with Onestoryroad, you create your own profile. Your profile information, as well as your name, email and photo, are displayed to people in the story page to enable you to connect with people on Onestoryroad. We may occasionally use your name and email address to send you notifications regarding new services offered by Onestoryroad that we think you may find valuable.</p>
</br>
<p>Profile information is used by Onestoryroad primarily to be presented back to and edited by you when you access the service.</p>
</br>
<p>Onestoryroad may send you service-related announcements from time to time through the general operation of the service. </p>
</br>
<p>Generally, you may opt out of such emails by a personal email to onestoryroad.com, though Onestoryroad reserves the right to send you notices about your account even if you opt out of all voluntary email notifications.</p>
</br>
<p>Onestoryroad may use information in your profile without identifying you as an individual to third parties. We do this for purposes such as aggregating how many people in a network like a story and personalizing advertisements and promotions so that we can provide you Onestoryroad. We believe this benefits you. You can know more about the world around you and, where there are advertisements, they're more likely to be interesting to you. </p>
</br>
<p>We may use information about you that we collect from other sources, including but not limited to newspapers and Internet sources such as blogs, instant messaging services, and other users of Onestoryroad, to supplement your profile. Where such information is used, we generally allow you to specify in your privacy settings that you do not want this to be done or to take other actions that limit the connection of this information to your profile (e.g., removing photo tag links).</p>
</br>
<h2>Sharing Your Information with Third Parties</h2>

<p>Onestoryroad is about sharing information with others — friends and people — while providing you with privacy that restrict other users from accessing your information. We allow you to choose anonymity through Onestoryroad. Our network architecture and your privacy choice allow you to make informed choices about who has access to your story profile. We do not provide contact information to third party marketers without your permission. We share your information with third parties only in limited circumstances where we believe such sharing is 1) reasonably necessary to offer the service, 2) legally required or, 3) permitted by you. For example:</p>
<ul>
  <li>We may provide information to service providers to help us bring you the services we offer. Specifically, we may use third parties to facilitate our business, such as to host the service at a co-location facility for servers, to send out email updates about Onestoryroad, to remove repetitive information from our user lists, to process payments for products or services, to offer an online job application process, or to provide search results or links (including sponsored links). In connection with these offerings and business operations, our service providers may have access to your personal information for use for a limited time in connection with these business activities. Where we utilize third parties for the processing of any personal information, we implement reasonable contractual and technical protections limiting the use of that information to the Onestoryroad-specified purposes.</li>
  <li>We occasionally provide demonstration accounts that allow non-users a glimpse into the Onestoryroad world. Such accounts have only limited capabilities (e.g., messaging is disabled) and passwords are changed regularly to limit possible misuse.</li>
  <li>We may be required to disclose user information pursuant to lawful requests, such as subpoenas or court orders, or in compliance with applicable laws. We do not reveal information until we have a good faith belief that an information request by law enforcement or private litigants meets applicable legal standards. Additionally, we may share account or other information when we believe it is necessary to comply with law, to protect our interests or property, to prevent fraud or other illegal activity perpetrated through the Onestoryroad service or using the Onestoryroad name, or to prevent imminent bodily harm. This may include sharing information with other companies, lawyers, agents or government agencies.</li>
  <li>We let you choose to share information with marketers or electronic commerce providers through on-site offers.</li>
  <li>We may offer stores or provide services jointly with other companies on Onestoryroad. You can tell when another company is involved in any store or service provided on Onestoryroad, and we may share customer information with that company in connection with your use of that store or service.</li>
</ul>
<p>To learn more about the operation of the service, we encourage you to read the tutorial here. To opt out of the service altogether, click here.</p>
<ul>
  <li>If the ownership of all or substantially all of the Onestoryroad business, or individual business units owned by Onestoryroad, LLC, were to change, your user information may be transferred to the new owner so the service can continue operations. In any such transfer of information, your user information would remain subject to the promises made in any pre-existing Privacy Policy.</li>
</ul>
<p>When you use Onestoryroad, certain information you post or share with third parties, such as personal information, messages, photos, or other information, may be shared with other users.  All such sharing of information is done at your own risk. Please keep in mind that if you disclose personal information in your profile or when posting comments, messages, photos, or other items this information may become publicly available.</p>

<h2>Links</h2>

<p>Onestoryroad may contain links to other websites. We are of course not responsible for the privacy practices of other web sites. We encourage our users to be aware when they leave our site to read the privacy statements of each and every web site that collects personally identifiable information. This Privacy Policy applies solely to information collected by Onestoryroad.</p>

<h2>Third Party Advertising</h2>

<p>Advertisements that appear on Onestoryroad are sometimes delivered (or "served") directly to users by third party advertisers. They automatically receive your IP address when this happens. These third party advertisers may also download cookies to your computer, or use other technologies such as JavaScript and "web beacons" (also known as "1x1 gifs") to measure the effectiveness of their ads and to personalize advertising content. Doing this allows the advertising network to recognize your computer each time they send you an advertisement in order to measure the effectiveness of their ads and to personalize advertising content. In this way, they may compile information about where individuals using your computer or browser saw their advertisements and determine which advertisements are clicked. Onestoryroad does not have access to or control of the cookies that may be placed by the third party advertisers. Third party advertisers have no access to your contact information stored on Onestoryroad unless you choose to share it with them.</p>
</br>
<p>This privacy policy covers the use of cookies by Onestoryroad and does not cover the use of cookies or other tracking technologies by any of its advertisers.
</br>
</br>
<h2>Changing or Removing Information</h2>

<p>Access and control over most personal information on Onestoryroad is readily available through the profile editing tools. Onestoryroad users may modify or delete any of their profile information at any time by logging into their account. Information will be updated immediately. Individuals who wish to deactivate their Onestoryroad account may do so on the My Account page. Removed information may persist in backup copies for a reasonable period of time but will not be generally available to members of Onestoryroad.</p>

<h2>Terms of Use, Notices and Revisions</h2>

<p>Your use of Onestoryroad, and any disputes arising from it, is subject to this Privacy Policy as well as our Terms of Use and all of its dispute resolution provisions including arbitration, limitation on damages and choice of law. We reserve the right to change our Privacy Policy and our Terms of Use at any time. Non-material changes and clarifications will take effect immediately, and material changes will take effect within 30 days of their posting on this site. If we make changes, we will post them and will indicate at the top of this page the policy's new effective date. If we make material changes to this policy, we will notify you here, by email, or through notice on our home page. We encourage you to refer to this policy on an ongoing basis so that you understand our current privacy policy. Unless stated otherwise, our current privacy policy applies to all information that we have about you and your account.</p>

<h2>Contacting the Web Site</h2>

<p>If you have any questions about this privacy policy, please contact us at privacy@onestoryroad.com . You may also contact us by mail at OneStoryRoad P.O. Box 298 Santa Barbara, CA 93102</p>

<h2>For Parents:</h2>

<p>Onestoryroad strongly urges parents to talk to their children about the dangers they may encounter online, and to make sure their children are using Onestoryroad in a safe manner. Parents may want to install monitoring software on home computers if they are concerned about what their children are doing online. Children must know that they should report any inappropriate or offensive Onestoryroad content to their parents and to Onestoryroad using the tools made available through the site. Parents should always remind their children to follow the important safety tips listed on this page when using Onestoryroad.</p>

</br>
<h2>Safety FAQs</h2>

<h3>For Users:</h3>

<h4>How can I be safer on Onestoryroad?</h4>
</br>
<p>First, don't give out your password to anyone, not even your significant other or best friend. Be sure to customize your privacy settings on the Privacy page if you are uncomfortable being found in searches or having your profile viewed by people from your school, workplace or regional network. Remember, unless you're prepared to attach something in your profile to a resume or scholarship application, don't post it.</p>
</br>
<h4>What do I do if I find an explicit, hateful or otherwise objectionable profile on Onestoryroad?</h4>
</br>
<p>We don't want any content like this on Onestoryroad. You can help us out by notifying us of any objectionable profiles. You can anonymously report offensive profile pictures and content by clicking on the "Report this Person" link located at the bottom of the profile page. You will be asked to specify the offensive content. Onestoryroad will review your complaint and will act to ensure all users comply with our Terms of Use so that Onestoryroad remains a trusted environment where people can interact safely.</p>
</br>
<h4>What do I do if I find an explicit, hateful or otherwise objectionable group on Onestoryroad?</h4>
</br>
<p>You can anonymously report offensive group pictures and content by clicking on the "Report Group" link located under the group's picture. You will be asked to specify the offensive content. Onestoryroad will review your complaint and will act to ensure all users comply with our Terms of Use so that Onestoryroad remains a trusted environment where people can interact safely.</p>
</br>
<h4>What do I do if I see something explicit, hateful, or otherwise objectionable in a "Posts" box?</h4>
</br>
<p>You can anonymously report offensive Posts by clicking on the "Report" link located under the saved material. You will be asked to specify the offensive content. Onestoryroad will review your complaint and will act to ensure all users comply with our Terms of Use so that Onestoryroad remains a trusted environment where people can interact safely.</p>
</br>
<h4>What do I do if someone has posted an objectionable photo on Onestoryroad?</h4>
</br>
<p>You can anonymously report photos that violate our Terms of Use (e.g., pornography or copyrighted images) by clicking on the "Report This Photo" link below the picture. Onestoryroad reviews these complaints and takes down photos as necessary. It is not a violation of our Terms of Use to post a photo that is unflattering, so please don't report a photo just because you don't like the way you look in it.</p>
</br>
<h4>What do I do if someone has posted a photo of me that I don't like?</h4>
</br>
<p>Onestoryroad will only remove photos that violate our Terms of Use (e.g., pornography or copyrighted images).</p>
</br>
<h4>What if I see a hateful or otherwise objectionable Note on Onestoryroad?</h4>
</br>
<p>You can anonymously report offensive note content and photos by clicking on the "Report This Note" link located below the text of each note. You will be asked to specify the offensive content. Onestoryroad will review your complaint and will act to ensure all users comply with our Terms of Use so that Onestoryroad remains a trusted environment where people can interact safely.</p>
</br>
<h4>I saw an explicit, hateful or otherwise objectionable ad on Onestoryroad. What do I do?</h4>
</br>
<p>Please email onestoryroad.com to report that ad. We will use our best efforts to remove any ads that violate our Terms of Use.</p>


<h3>For Parents:</h3>

<h4>How can I gain access to my child's account?</h4>
</br>
<p>Onestoryroad is generally forbidden by federal and many state laws to give unauthorized access to someone who is not an account holder. If you are a parent or school official, we encourage you to use software tools on your own computers to assist in overseeing your child's Internet access. Please do a search for computer-based Internet control technology on your preferred search engine to discover options that you may wish to pursue.</p>
</br>
<p>If your child is under 13 and you believe they have created a Onestoryroad account, however, the Childrens' Online Privacy Protection Act gives you the right to access personal information they have provided before Onestoryroad follows its policy of promptly deleting such data. You may access and direct the deletion of such data by having them sign into the account and then deactivating the account, or by making a request by email to Onestoryroad. Please send requests to onestoryroad.com with the subject line "COPPA Data Request".</p>
</br>
<h4>What if my child sees inappropriate content or offensive material?</h4>
</br>
<p>Onestoryroad takes the safety of its users very seriously and takes significant efforts to take down any objectionable material that may be posted on the site. We encourage users to report offensive profiles, messages, groups and photos. Reported items are then reviewed by customer support representatives and removed if deemed in violation of our Terms of Use. Users may also block others from finding them in searches, viewing their profile or sending them messages.</p>
</br>
<h4>How should I help my child use this site wisely?</h4>
</br>
<p>The best thing to do is to talk to your children and teach them Internet safety. Remind them to:</p>

<ul>
  <li>Never share their password with anyone</li>
  <li>Understand their privacy settings</li>
  <li>Report people that violate our Terms of Use</li>
  <li>Block anyone that might be sending unwanted content</li>
</ul>

<h4>What other resources are available regarding Internet safety?</h4>
</br>
<p>Here are some websites with valuable information:</p>
<ul>
  <li><%= link_to "OnguardOnline.gov", "http://www.onguardonline.gov", :popup => true %></li>
  <li><%= link_to "WiredSafety.org", "http://WiredSafety.org", :popup => true %></li>
  <li><%= link_to "Commonsense.com", "http://Commonsense.com", :popup => true %></li>
  <li><%= link_to "Ncmec.org", "http://Ncmec.org", :popup => true %></li>
  <li><%= link_to "TRUSTe.org", "http://TRUSTe.org", :popup => true %></li>
  <li><%= link_to "ConnectSafely.org", "http://ConnectSafely.org", :popup => true %></li>
  <li><%= link_to "NetSmartz.org", "http://NetSmartz.org", :popup => true %></li>
  <li><%= link_to "WebWiseKids.org", "http://WebWiseKids.org", :popup => true %></li>
</ul>
 
<p>Onestoryroad &copy; 2009</p>
</br>
<p>English (US)</p>



